@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background: #2e3944;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background: #212A31;
    padding: 12px;
    font-family: "Nunito Sans", sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    color: #66fcf1;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: #FEFFFF;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #66fcf1;
}

.hero {
    background: #2e3944;
    color: #c1f6f6;
    padding: 150px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container0 {
    font-size: 30px;
}

.hero .cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #3AAFA9;
    color: #17252A;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .cta-button:hover {
    background: #66FCF1;
}

.features {
    background: #2f3c49;
    font-family: "Nunito sans", sans-serif;
    padding-top: 5px;

}

.features h2 {
    text-align: center;
    color: #c1f6f6;
    margin-bottom: 40px;
    font-size: 32px;
}

.why-us h2 {
    text-align: center;
    color: #c1f6f6;
    font-family: "Nunito sans", sans-serif;
    margin-bottom: 40px;
    font-size: 32px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item {
    background: #1f2833;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(30% - 20px);
    min-width: 250px;
    color: #C6C5C7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item h3 {
    color: #66FCF1;
    font-family: "Nunito sans", sans-serif;
    margin-bottom: 10px;
}

.feature-item p {   
    color: #C6C5C7;
    font-size: 16px;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.why-us {
    background: #2e3944;
    padding: 160px 0px;
}

.container-why-us {
    text-align: center;
    font-size: 23px;
}

.qa-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.qa-item {
    background: #141e22;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    color: #C6C5C7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qa-item button.qa-question {
    background: #17252A;
    color: #bac1c1;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.qa-item button.qa-question:hover {
    background: #6ba09d;
    color:#0B0C10;
}

.qa-answer {
    display: none;
    padding-top: 10px;
    color: #C6C5C7;
}

.qa-answer ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.qa-item.active .qa-answer {
    display: block;
}

.qa-item.active button.qa-question {
    background: #3AAFA9;
    color:#0B0C10;
}

footer {
    background: #212A31;
    color: #C6C5C7;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
