@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: var(--font-family);
    background: #2E3944;
    color: var(--text-light);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    background: #212A31;
    padding: 12px;
    font-family: "Nunito Sans", sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    color: #66fcf1;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: #FEFFFF;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #66fcf1;
}

.language-selector {
    position: absolute;
    top: 29px;
    right: 20px;
}

.language-selector input[type="text"] {
    padding: 5px;
    border: 1px solid #45a29e;
    border-radius: 3px;
    background: #1f2833;
    color: #c5c6c7;
}

.container {
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    background: #212a31;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#chat-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chat-box {
    background: #2E3944;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex: 1 0 400px;
    margin: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group input[type="text"] {
    padding: 12px;
    border: 1px solid #45a29e;
    border-radius: 5px;
    background: #1f2833;
    color: #c5c6c7;
    flex-grow: 1;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #7eb8b8;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-custom {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
    border: 2px solid #c5c6c7;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.radio-label input[type="radio"]:checked + .radio-custom {
    border-color: #66fcf1;
    background-color: #66fcf1;
}

.radio-label input[type="radio"]:checked + .radio-custom::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #0b0c10;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease;
}

.radio-label input[type="radio"] + .radio-custom::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #0b0c10;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

.radio-label-text {
    color: #0b0c10;
    font-weight: 500;
}

.output-cell {
    margin-top: 20px;
}

.output-cell p {
    background: #7eb8b8;
    padding: 12px;
    border-radius: 5px;
    min-height: 50px;
    color: #0b0c10;
    font-weight: 500;
}

.controls {
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #7eb8b8;
    border-radius: 5px;
    background: #1f2833;
    color: #c5c6c7;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background: #7eb8b8;
    color: #0b0c10;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.button-group button:hover {
    background: #66fcf1;
}

.submit-group {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

input[type="submit"] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #7eb8b8;
    color: #0b0c10;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 675;
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
}

input[type="submit"]:hover {
    background:#66fcf1;
}

#stop-generation {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background: #7eb8b8;
    color: #0b0c10;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

#stop-generation:hover {
    background:#66fcf1;
}

#voice-input {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background: #7eb8b8;
    color: #0b0c10;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

#voice-input:hover {
    background: #66fcf1;
}

.toggle-label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #7eb8b8;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.toggle-label-text{
    color: #0b0c10;
}

.toggle-label input[type="checkbox"] {
    display: none;
}

.toggle-custom {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #7eb8b8;
    border: 2px solid ;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.toggle-label input[type="checkbox"]:checked + .toggle-custom {
    border-color: #0b0c10;
    background-color: #0b0c10;
}

.toggle-label input[type="checkbox"]:checked + .toggle-custom::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #c5c6c7;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease;
}

.toggle-label input[type="checkbox"] + .toggle-custom::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #0b0c10;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

.toggle-label-text {
    color: #0b0c10;
    font-weight: 500;
}

/* Custom styles for new input bars */
.input-group-inline {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.input-bar {
    flex: 1;
    display: block;
    padding: 12px;
    border: 1px solid #45a29e;
    border-radius: 5px;
    background: #1f2833;
    color: #c5c6c7;
    margin-top: 10px;
}

#overview-output-cell {
    display: none;
    margin-top: 20px;
    background: #2E3944;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;;
}

.overview-output-content {
    color: #000000;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
}

/* Define Variables */
:root {
    --background-dark: #0B0C10;
    --background-light: #1f2833;
    --accent-color: #45a29e;
    --highlight-color: #66fcf1;
    --text-light: #c5c6c7;
    --text-dark: #0b0c10;
    --font-family: 'Roboto', sans-serif;
}

/* General Styles */


footer {
    bottom: 0px;
    background: #212A31;
    color: #C6C5C7;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

footer p {
    margin: 0;
}

.tooltip-container {
  


    --background-light: #66fcf1; /* Synapsify's light color */
    --background-dark: #1f2833;  /* Synapsify's dark color */
    --text-color-light: #0b0c10; /* Synapsify's background color */
    --text-color-dark: #66fcf1;  /* Synapsify's light color */
    --bubble-size: 12px;
    --glow-color: rgba(102, 252, 241, 0.5); /* Brighter glow color */

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    padding: 10px 10px;
    color: var(--text-light);
    border-radius: 20px;
    z-index: 1000;
    position: relative; /* Ensure proper positioning for the tooltip */
}

.tooltip-container .tooltip {
    position: absolute;
    bottom: 100%; /* Position tooltip above the container */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px;
    background: var(--background-dark);
    color: var(--text-color-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: max-content;
    max-width: 600px;
}

.tooltip-container .tooltip::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 8px 8px 0;
border-color: var(--background-light) transparent transparent;

}

.tooltip-container:hover {
    background: var(--background-dark);
color: var(--text-color-dark);
box-shadow: 0 0 20px var(--glow-color);
}
.tooltip-container:hover .tooltip {
    bottom: 120%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} 

.tooltip-container.text{
 color: black;
}


.model-select select {
    padding-top: 11px;
    padding-right: 1px;
    padding-bottom: 11px;
    padding-left: 3px;
    border: 1px solid #45a29e;
    border-radius: 5px;
    background: #1f2833;
    color: #c5c6c7;
}
