body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0B0C10;
    color: #C6C5C7;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background: #1F2833;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    color: #66FCF1;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #C6C5C7;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #66FCF1;
}

.features {
    background: #1F2833;
    padding: 50px 0;
}

.features h2 {
    text-align: center;
    color: #66FCF1;
    margin-bottom: 40px;
    font-size: 32px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    background: #0B0C10;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(30% - 20px);
    min-width: 250px;
    color: #C6C5C7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item h3 {
    color: #66FCF1;
    margin-bottom: 10px;
}

.feature-item p {
    color: #C6C5C7;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
