body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3d52a0, #7091e6, #8697c4);
}

.center-content {
    text-align: center;
}

.logo {
    width: 100px; /* Adjust as needed */
}

.site-name {
    font-size: 80px; /* Adjust as needed */
    margin-top: 10px;
    color: #fff; /* Change text color to white for better visibility */
}

.functioning-details {
    margin-top: 30px;
    text-align: center;
}

.details {
    font-size: 20px;
    line-height: 1.5;
    color: #fff; /* Change text color to white for better visibility */
    max-width: 600px;
}
