body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	width: 80%;
	margin: 40px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="radio"] {
	margin-right: 10px;
}

.output-cell {
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #ddd;
	margin-top: 20px;
}

#output {
	font-size: 18px;
}