*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: fixed;
    background-color: #8697C4;
}
a{
    cursor: pointer;
    font-size: 18px;
    color: rgb(0, 11, 61);
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color:#EDE8F5;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 10px;
}

.header-logo{
    width: fit-content;
    height: 50%;
    display: flex;
}

.header-nav{
    width: fit-content;
    padding: 10px;
    right: 50px;
    
}

.header-nav ul{
    list-style: none;
    padding-left: 10px;
    position: fixed;
}

.header-nav ul li{
    display: inline;
    float: left;
    margin-right: 20px;
    
}

.header-nav ul li a{
    padding: 0 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
   
}

.header-nav ul li a:hover{
    color: rgb(21, 100, 100);
}

h4{
    font-size: 25px;
    font-weight: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: rgb(0, 11, 61);
}
    

.input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}



.bar input{
    background: transparent;
    flex: 1;
    border: 0 ;
    outline: none;
    padding: 24px 20px;
    font-size:20px;
    color: rgb(255, 219, 219);
}

::placeholder{
    color: black;
}


.container{
    display: flex;
    column-gap: 50px;

}
.box1{
width: 650px;
height: 500px;
 border-radius: 15px;
background: #fcfbfb;
padding: 10px;
padding-right: 50px;
margin-left: 45px;
}

.box2{
width: 650px;
height: 500px;
 border-radius: 15px;
background: #ffffff;
padding: 10px;
margin-right: 45px;
}

.messageBox {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f4f4;
    padding: 0 15px;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 300px;
    border: 1px solid rgb(63, 63, 63);
  }
  .messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }
  .fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  #file {
    display: none;
  }
  .fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fileUploadWrapper label svg {
    height: 18px;
  }
  .fileUploadWrapper label svg path {
    transition: all 0.3s;
  }
  .fileUploadWrapper label svg circle {
    transition: all 0.3s;
  }
  .fileUploadWrapper label:hover svg path {
    stroke: #fff;
  }
  .fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
  }
  .fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
  }
  .tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #0c0c0c;
    padding: 6px 10px;
    border: 1px solid #d4bfbf;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
    
  }
  #messageInput {
    width: 500px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
  }
  #messageInput:focus ~ #sendButton svg path,
  #messageInput:valid ~ #sendButton svg path {
    fill: #5f5c5c;
    stroke: white;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  .dropdown-nav {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: rgba(240, 224, 6, 0.877);
    color: #010324;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(32, 32, 30, 0.226);
  }
  
  .dropdown-button:hover {
    background-color: var(--primary-color-dark);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #0a0a0a;
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(231, 222, 222, 0.1);
  }
  
  .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px ;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu li a {
    color: #080808;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    background-color:#EDE8F5
  }
  
  .dropdown-nav:hover .dropdown-menu {
    display: block;
    transition: display 0.2s;
  }
  .messageBox1 {
    width:250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee9e9b0;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin-top: 400px;
  }
  .messageBox1:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }
  .fileUploadWrapper1 {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #file1 {
    display: none;
  }
  .fileUploadWrapper1 label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fileUploadWrapper1 label svg {
    height: 10px;
  }
  .fileUploadWrapper1 label svg path {
    transition: all 0.3s;
  }
  .fileUploadWrapper1 label svg circle {
    transition: all 0.3s;
  }
  .fileUploadWrapper1 label:hover svg path {
    stroke: #fff;
  }
  .fileUploadWrapper1 label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
  }
  .fileUploadWrapper1 label:hover .tooltip {
    display: block;
    opacity: 1;
  }
  .tooltip1 {
    position:absolute;
    top: 40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
  }
  #messageInput1 {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
  }
  #messageInput1:focus ~ #sendButton1 svg path,
  #messageInput1:valid ~ #sendButton1 svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  #sendButton1 {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton1 svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton1 svg path {
    transition: all 0.3s;
  }
  #sendButton1:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
