:root{
    --site-color-01:#8697C4;
    --site-color-01-hover:#ADBBDA;
}

body{
  background-color: var(--site-color-01);
}

a{
    cursor: pointer;
}

h1{
    font-size: 6.0vw;
    font-weight: 80;
    display: flex;
    text-align:center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

h2{
    font-size: 3.0vw;
    font-weight: 80;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    text-transform: uppercase;
}

a{
    cursor: pointer;
    font-size: 20px;
    color: antiquewhite;
    justify-content: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color:#8697C4;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-logo{
    width: fit-content;
    height: 100%;
    display: flex;
}

.header-nav{
    width: fit-content;
    height: 100%; 
}

.header-nav ul{
    padding-left: 40px;
    position: fixed;
}

.header-nav ul li{
    display: inline;
    float : left;
    margin:0px 20px;
    position: relative;
}

.header-nav ul li a{
    width: fit-content;
    height: 80px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    line-height: 80px;
    color:#000000;
    
}

.header-nav ul li a:hover{
    color: #ffffff;
}

